#Qoutes in Python
**double qoutes**

In [4]:
message = str("Hello World")
print(message)

Hello World

Another Example:

In [5]:
message: str = "Hello World"
print(message)

Hello World

**Triple single Qoutes**

In [6]:
equation:str = '''x+ab+b'''
print(equation)

x+ab+b

Another Example:

In [7]:
equation =str('''x+ab+b''')
print(equation)

x+ab+b

**Triple Double Qoutes**

In [8]:
name: str = """ALexa"""
print(name)

ALexa

Another Example:

In [9]:
name = str("""Alexa""")
print(name)

Alexa

#Strings

**Using %s & %d**

In [20]:
name = "Navaal"
age = int("23") # this is an integer
print("My name is %s. I am %d years old" %(name, age))

My name is Navaal. I am 23 years old

While using %s and %d we need to declare int for a number if we are defining number as an age or something other if we do not declare INT then it will give a type error like shown below

In [22]:
name = "Navaal"
age = "23"
print("My name is %s. I am %d years old" %(name, age))

TypeError: %d format: a real number is required, not str

the reason of this error is we donot declare that age is INT so the compiler take it as string so if we place %s at the place of %d the code will be compile lets check this out

In [24]:
name = "Navaal"
age = "23" # this is an integer
print("My name is %s. I am %s years old" %(name, age))

My name is Navaal. I am 23 years old

**using of formating()**

This is another method of formating strings we can use (),{},[], formating our string

In [28]:
name = "Lisa"
age = "20"
print("My name is () and i am () years old" .format(name, age))

My name is [] and i am [] years old

In [29]:
name = "Lisa"
age = "20"
print("My name is {} and i am {} years old" .format(name, age))

My name is Lisa and i am 20 years old

In [30]:
name = "Lisa"
age = "20"
print("My name is [] and i am [] years old" .format(name, age))

My name is [] and i am [] years old

**Using f-string**

this format of formating string makes the code more clear and readable

In [32]:
name = "Eric"
age = "25"
print(f"My name is {name} and i am {age} years old")

My name is Eric and i am 25 years old

#Naming convention

There are few naming cnventions that are used to make more readable code and to style for guiders. Those conventions named bellow:


*   Snake Case
*   Camel Case
*   Pascal case
*   Upper Snake Case

**1. Snake Case**

In [33]:
my_variable_name = "Bird"
print(my_variable_name)

Bird

**2. Camel Case**

In [34]:
myVariableName = "Animal"
print("myVariableName")

myVariableName

**3. Pascal Case**

In [35]:
MyVariableCase = "Insects"
print(MyVariableCase)

Insects

**4. Upper Snake Case**

In [38]:
MY_VARIABLE_NAME = "Bird"
print(MY_VARIABLE_NAME)

Bird