In [ ]:
name:str = "Alexa"
fname:str = "David"
age:int = "23"
education:str = "Data Science"
card:str= f"""Student Card
Student name = {name}
Father name = {fname}
Age = {age}
Education = {education}"""

print(card)

Student Card
Student name = Alexa
Father name = David
Age = 23
Education = Data Science

In [ ]:
name:str = "Alexa"
fname:str = "David"
age:int = "23"
education:str = "Data Science"
card:str= """Student Card
Student name = {}
Father name = {}
Age = {}
Education = {}""".format(name, fname, age, education)

print(card)

Student Card
Student name = Alexa
Father name = David
Age = 23
Education = Data Science

In [ ]:
name:str = "Alexa"
fname:str = "David"
age:int = "23"
education:str = "Data Science"
card= """Student Card
Student name = {3}
Father name = {0}
Age = {2}
Education = {1}""".format(fname,education , age, name)
print(card)

Student Card
Student name = Alexa
Father name = David
Age = 23
Education = Data Science

In [ ]:
name:str = "Alexa David"

print(name.lower())

alexa david

In [ ]:
name:str = "Alexa David"

print(name.upper())

ALEXA DAVID

In [ ]:
name:str = "Alexa David"

print(name.capitalize())

Alexa david

In [ ]:
name:str = "Alexa David"

print(name.casefold())

alexa david

In [ ]:
name:str = "Alexa David"

print(name.strip())

Alexa David

In [ ]:
name:str = " Alexa David "
display(name)
display(name.rstrip())

' Alexa David '

' Alexa David'

In [ ]:
name:str = "  Alexa David"
display (name)
display(name.lstrip())

'  Alexa David'

'Alexa David'

In [ ]:
website_url[-8]

'g'

In [ ]:
website_url:str = "https://www.google.com/"
#website_url.removeprefix('https://')
print(website_url.removeprefix('https://'))

www.google.com/

In [ ]:
website_url

'https://www.google.com/'

In [ ]:
website_url.removeprefix('https://')

'www.google.com/'

In [ ]:
template

In [ ]:
from jinja2 import Template

template_str = """
<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>Hello, {{ name }}!</h1>
    <p>Age: {{ age }}</p>
</body>
</html>
"""

template = Template(template_str)
rendered_html = template.render(name="Alice", age=30, title="Greeting Page")
print(rendered_html)

<!DOCTYPE html>
<html>
<head>
    <title>Greeting Page</title>
</head>
<body>
    <h1>Hello, Alice!</h1>
    <p>Age: 30</p>
</body>
</html>

In [ ]:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
x = "1, 2, 3, 4, 5"
for x in range(5):
  print(x)
else:
  print("Finished!")

0
1
2
3
4
Finished!

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [ ]:
from typing import Union, Optional

def greet(name: Optional[str] = "Ali") -> str:
    if name is None:
        return "Hello, Guest!"
    else:
        return f"Hello, {name}!"

age: Union[int, str] = "Twenty"
print(greet())
print(greet("John"))

Hello, Ali!
Hello, John!

In [ ]:
names: list[str] = ["Alice", "Bob", "Charlie"]
ages: list[int] = [25, 30, 35]

zipped = zip(names, ages)
for name, age in zipped:
    print(f"{name} is {age} years old")

Alice is 25 years old
Bob is 30 years old
Charlie is 35 years old

In [ ]:
counter: int = 0
while counter < 5:
    print("Counter is:", counter)
    counter += 1

Counter is: 0
Counter is: 1
Counter is: 2
Counter is: 3
Counter is: 4

In [ ]:

numbers: list = [1, 2, 3, 4, 5]
for num in numbers:
    print("Number is:", num)

Number is: 1
Number is: 2
Number is: 3
Number is: 4
Number is: 5

In [ ]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [ ]:
name: str = input("Enter your name: ")
print("Hello,", name)

Enter your name: navaal
Hello, navaal

In [ ]:
import sys
arguments: list = sys.argv
print("Script Name:", arguments[0])
print("First Argument:", arguments[1])

Script Name: /usr/local/lib/python3.10/dist-packages/colab_kernel_launcher.py
First Argument: -f

In [ ]:
def print_key_values(**kwargs: str) -> None:
    for key, value in kwargs.items():
        print(f"{key}: {value}")

print_key_values(name="John", age="30", country="USA")

name: John
age: 30
country: USA