In [2]:
print("Hello World")

Hello World

In [3]:
if 5 > 3 :
  print ("True")
else:
  print("False")

True

In [17]:
name = "navaal"
print (name)
print (type (name))
print (id (name))

navaal
<class 'str'>
138612309372336

In [7]:
name = str("alisa")
print (name)
print(type(name))
print (id(name))

alisa
<class 'str'>
138612480069488

In [8]:
name:str = "liso"
print(name)
print(type(name))
print(id(name))

liso
<class 'str'>
138612480127152

In [9]:
name: bool= "False"
print(name)
print(type(name))
print(id(name))

False
<class 'str'>
138613593833904

In [10]:
number= float("3.45")
print(number)
print(type(number))
print(id(number))

3.45
<class 'float'>
138612310156912

In [11]:
age = int("23")
print(age)
print(type(age))
print(id(age))

23
<class 'int'>
138613593195440

In [15]:
x= "45"
y= "20"
z= x+y
print(z)

4520

In [16]:
x=2
y=3
z=2*3
print(2*3)

6

In [21]:
name : list = ['apple', 'bnanana', 'orange']
print(name)
print(type(name))
print(id(name))

['apple', 'bnanana', 'orange']
<class 'list'>
138612480077056

In [22]:
name: tuple = ['Lahore', 'Alexa','23', '23.3']
print (name)
print(type(name))
print(id(name))

['Lahore', 'Alexa', '23', '23.3']
<class 'list'>
138612309658880

In [23]:
name: tuple[str,float,int] = ['Pakistan','234','23.3']
print(name)
print(type(name))
print(id(name))

['Pakistan', '234', '23.3']
<class 'list'>
138612309596672

In [24]:
name: list[str,float,int] = ['Pakistan','234','23.3']
print(name)
print(type(name))
print(id(name))

['Pakistan', '234', '23.3']
<class 'list'>
138612309665536