#Slicing

In [ ]:
fruits = ["apple", "bnanana", "orange", "grapes"]
print(fruits[1:3])

['bnanana', 'orange']

#Indexing

**Negative Indexing**

In [ ]:
print(fruits[-3])

bnanana

**Positive indexing**

In [ ]:
print(fruits[0])

apple

#Loops

**For Loop**

In [ ]:
number = {"1", "2", "3", "4", "5"}
for x in number:
  print(x)

4
5
3
2
1

**else with for loop**

In [ ]:
for x in range(3):
 print(x)
else:
 print('finished')

0
1
2
finished

**List Comprehensions**

In [ ]:
fruits = ["bnanana","apple","mango","cherry"]
newlist = [x for x in fruits if "a" in x ]
print(newlist)

['bnanana', 'apple', 'mango']

**Tuples**

In [ ]:
my_tuples=["a","b","c","d"]
print(my_tuples)

['a', 'b', 'c', 'd']

#IF-ELSEIF_STATEMENT

IF Statement

In [ ]:
x = int("4")
if x < 5:
  print("x is greater than 5")

x is greater than 5

**ELSEIF Statement**

In [ ]:
x = int("4")
if x > 5:
  print("x is greater than 5")
else:
  print("x is less than 5")

x is less than 5

**If-Elif-Else Statement **

In [ ]:
x = int("4")
if x > 5:
  print("x is greater than 5")
elif x==4:
  print("x is equal to 4")
else:
  print("x is less than 5")

x is equal to 4

**Nested If-Else-Elif**

In [ ]:
x = int("4")
y = int("5")
if x == y:
   if x == y:
     print("x and y both are equal")
   else :
     print("Both x and y are not equal")
elif x < y:
  print("x is less than y")
else :
  print("y is greater than x")

x is less than y

**Zipped with list**

In [ ]:
name:list[str] = ["amna","bisma", "farhat"]
age:list[int] = ["20", "23", "19"]
zipped = zip(name,age)
for name, age in zipped:
   print(f"{name} is {age} years old")

amna is 20 years old
bisma is 23 years old
farhat is 19 years old

#Dictionary

In [ ]:
squared_numbers = {i: i**2 for i in range(5)}

In [ ]:
from typing import Dict, Union, Optional
import pprint

Key = Union[int,str] # create custom type
Value = Union[int, str, list, dict, tuple, set]

# List                    0                1            2
data : Dict[Key,Value] = {
                        "fname":"Muhammad Aslam",
                        "name":"Muhammad Qasim",
                        "education": "MSDS",
                        0 : "Pakistan"
                        }

pprint.pprint(data)
print(data["name"])
print(data['fname'])
print(data['education'])
print(data[0]) # index = key

{0: 'Pakistan',
 'education': 'MSDS',
 'fname': 'Muhammad Aslam',
 'name': 'Muhammad Qasim'}
Muhammad Qasim
Muhammad Aslam
MSDS
Pakistan

In [ ]:
def modify_value(num: int):
    print("Inside function (before modification):", id(num))
    num = 10
    print("Inside function (after modification):", id(num))

x = 5
print("Before function call:", id(x))
modify_value(x)
print("After function call:", id(x))

Before function call: 135665705091440
Inside function (before modification): 135665705091440
Inside function (after modification): 135665705091600
After function call: 135665705091440

In [ ]:
def modify_list(lst: list):
    print("Inside function (before modification):", id(lst))
    lst.append(4)
    print("Inside function (after modification):", id(lst))

my_list = [1, 2, 3]
print("Before function call:", id(my_list))
modify_list(my_list)
print("After function call:", id(my_list))

Before function call: 135664421702976
Inside function (before modification): 135664421702976
Inside function (after modification): 135664421702976
After function call: 135664421702976

In [ ]:
my_list = [1, 2, 3]
print("Before modification:", my_list, "id:", id(my_list))
my_list.append(4)
print("After modification:", my_list, "id:", id(my_list))

Before modification: [1, 2, 3] id: 138730213793600
After modification: [1, 2, 3, 4] id: 138730213793600

In [ ]:
my_string = "hello"
print("Before modification:", my_string, "id:", id(my_string))
my_string = my_string + " world"
print("After modification:", my_string, "id:", id(my_string))

Before modification: hello id: 138730203322096
After modification: hello world id: 138730199755248

In [ ]:
try:
    numerator = 10
    denominator = 2
    result = numerator / denominator
except ZeroDivisionError as e:
    print("Caught a ZeroDivisionError:", str(e))
else:
    print("Division successful:", result)
finally:
    print("This block is always executed")

Division successful: 5.0
This block is always executed

In [ ]:
def divide(a: float, b: float) -> float:
    try:
        result = a / b
    except ZeroDivisionError:
        print("Cannot divide by zero!")
        return 0.0
    else:
        print("Division successful")
        return result

In [ ]:
def divide(a: float, b: float) -> float:
    try:
        result = a / b
    except ZeroDivisionError:
        print("Cannot divide by zero!")
        return 0.0
    else:
        print("Division successful")
        return result

In [ ]:
age = divide(2.3,1.0)
print(age)

Division successful
2.3

In [ ]:
def convert_to_int(value: str) -> int:
    try:
        return int(value)
    except ValueError:
        print("Invalid integer!")
        return 0
    except TypeError:
        print("Value must be a string!")
        return 0

In [ ]:
age = convert_to_int('78')

78

In [ ]:
age=input("enter your age")

enter your age12

In [ ]:
print(age)

12

In [ ]:
print(type(age))

<class 'str'>

In [ ]:
class NegativeValueError(Exception):
    def __str__(self) -> str:
        return "Value cannot be negative"

def sqrt(value: float) -> float:
    if value > 0:
      print("the value is")
      return value ** 0.5

In [ ]:
def dynamic_error_handling(value:) -> int:
    try:
        return int(value)
    except Exception as e:
        print(f"An error occurred: {str(e)}")
        return 0

In [ ]:
age = dynamic_error_handling("twenty")
print(age)

An error occurred: invalid literal for int() with base 10: 'twenty'
0

In [ ]:
class Dog:
    def __init__(self, name, age):
        self.name = name  # Attribute
        self.age = age    # Attribute

    def bark(self):       # Method
        print("Woof!")

In [ ]:
class Dog:
    def __init__(self, name, age):
        self.name = name  # Attribute
        self.age = age    # Attribute

    def bark(self):       # Method
        print("Woof!")

In [ ]:
mydog = Dog("max","7")
mydog.bark()

Woof!

In [ ]:
class Dog:
    species = "Canis familiaris"  # Class variable

    def __init__(self, name, age):
        self.name = name
        self.age = age

    def bark(self):
        print("Woof!")

In [ ]:
mycat = ("abc","9")
print(mycat)

('abc', '9')

In [ ]:
class Animal:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def speak(self):
        print("Some generic sound")

class Dog(Animal):
    def bark(self):
        print("Woof!")

In [ ]:
animal = Dog("max","3")
animal.bark()

Woof!

In [ ]:
print =input('enter your name:')

enter your name:navaal

In [ ]:
class Employee:
    def __init__(self, name, age, department):
        self.name = name
        self.age = age
        self.department = department

    def display_info(self):
        print(f"Name: {self.name}, Age: {self.age}, Department: {self.department}")

In [ ]:
class Employee:
    def __init__(self, name, age, department):
        self.name = name
        self.age = age
        self.department = department

    def display_info(self):
        print(f"Name: {self.name}, Age: {self.age}, Department: {self.department}")

In [ ]:
employee=Employee("Navaal","23", "IT")

In [ ]:
print(type(employee))

TypeError: 'str' object is not callable

In [ ]:
# Assuming the Employee class is already defined

class Designer(Employee):
    def __init__(self, name, age, department, tool):
        super().__init__(name, age, department)
        self.tool = tool

    def display_info(self):
        super().display_info()  # Calls Employee's display_info method
        print(f"Design Tool: {self.tool}")  # Adds Designer-specific info

# Create an instance of Designer
designer = Designer(name="Alex", age=30, department="Creative", tool="Photoshop")

# Call the display_info method
designer.display_info()

TypeError: 'str' object is not callable

In [ ]:
class Teacher():
    def __init__(self, teacher_id : int , teacher_name : str) -> None: # method/constructor
        self.name : str = teacher_name #self.attribute_name = value
        self.teacher_id : int  = teacher_id
        self.organization_name: str = "PIAIC"


    def speak(self, words : str )->None: # method
        print(f"{self.name} is speaking {words}")

    def teaching(self, subject : str )->None: # method
        print(f"{self.name} is teaching {subject}...!")

In [ ]:

obj1 : Teacher = Teacher(1,"Sir Zia Khan") #intialize object->calling constructor __init__() method only this time
# obj1 = object, teacher class instance



obj2 : Teacher = Teacher(2, "Muhammad Qasim")

In [ ]:
abc1 : Teacher = Teacher(3)

TypeError: Teacher.__init__() missing 1 required positional argument: 'teacher_name'

In [ ]:
print(obj1.name)
print(obj1.teacher_id)
print(obj1.organization_name)

print(obj2.name)
print(obj2.teacher_id)
print(obj2.organization_name)

TypeError: 'str' object is not callable

In [ ]:
class Base1:
    def method(self) -> str:
        return "Base1"

class Base2:
    def method(self) -> str:
        return "Base2"

class Derived(Base1, Base2):
    pass

# Create an instance of Derived
obj = Derived()

# Call the method and print the result
print(obj.method())  # Output: Base1

TypeError: 'str' object is not callable

In [109]:
from typing import overload

@overload
def add(x: int, y: int) -> int:
    ...

@overload
def add(x: float, y: float) -> float:
    ...

def add(x, y):
    return x + y

print(add(1, 2))        # Output: 3
print(add(1.5, 2.5))   # Output: 4.0

TypeError: 'str' object is not callable

In [112]:
class Multiplier:
    def __call__(self, x: int, y: int) -> int:
        return x * y

multiply = Multiplier()
print(multiply(2, 3))  # Output: 12

TypeError: 'str' object is not callable